@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-black-50: #f6f5f5;
    --color-black-100: #e8e5e5;
    --color-black-200: #d3cece;
    --color-black-300: #b4acad;
    --color-black-400: #8d8385;
    --color-black-500: #72686a;
    --color-black-600: #61595a;
    --color-black-700: #524c4d;
    --color-black-800: #474343;
    --color-black-900: #3e3b3b;
    --color-black-950: #0d0c0c;

    --lowText-font-size: 16px;
    --text-size-title:40px;
    --text-title-card: 24px;
    --text-title-card2:20px;
    --text-paragraph:16px;
    --box-shadow-primary: 0px 6px 50px -20px var(--color-black-800)
}

* {


    background: var(--color-black-950);
    color: var(--color-black-50);
    font-family: "Roboto", "Iter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img {
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav {
    margin: 0 20px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a {
    color: var(--color-black-200);
    font-size: var(--lowText-font-size);
    position: relative;
}

.menu nav ul li a:hover {
    color: var(--color-black-300);
}

.btn__quote {
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--color-black-400);
    border-radius: 8px;
    font-weight: 500;
    margin: 0 20px;
}

.btn__quote:hover {
    color: var(--color-black-100);
    background-color: var(--color-black-700);
    transition: all 300ms;
}

.menu .socialMedia {
    margin: 0px 10px;

}

.menu .socialMedia a {
    margin: 0 3px;
}

.menu .socialMedia img {
    width: 20px;
}

/* Portada de inicio */
.container__cover{
    padding-top: 100px;
    padding-bottom: 100px;
}
.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.text__cover{
    width: 100%;
    padding-right: 150px;
}
.text__cover h1{
    font-size: 50px;
    color: var(--color-black-100);
}
.text__cover p{
    font-size: var(--text-paragraph);
    margin-top: 40px;
    color: var(--color-black-300);
}
.btn__text{
    display: block;
    width: 150px;
    background: var(--color-black-200);
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    color: var(--color-black-900);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}
.btn__text:hover{
    background: transparent;
    color: var(--color-black-100);
    border: 2px solid var(--color-black-400);
}
.image__cover{
    width: 100%;
}
.image__cover img{
    width: 550px;
}

/* Estilos generales CARDS*/
.container__card-primary{
    padding-top: 100px;
}
.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}
.text__card-primary{
    max-width: 800px;
    margin: auto;
}
.text__card-primary p{
    color: var(--color-black-300);
    letter-spacing: 4px;
    font-size: var(--text-paragraph);
    font-weight: 500;
}
.text__card-primary h1{
    font-size: var(--text-size-title);
    font-weight: 600;
    color: var(--color-black-100);
}
.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.box__card-primary{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid var(--color-black-900);
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}
.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box-shadow-primary);
}
.box__card-primary h2{
    font-size: var(--text-title-card);
    margin-top: 40px;
}
.box__card-primary p{
    margin-top: 20px;
}

/* Sobre nosotros */
.container__about{
    padding: 100px 0px;
    margin-top: 100px;
}
.about{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__about{
    width: 100%;
    padding-right: 40px;
}
.text__about h1{
    color: var(--color-black-100);
    font-weight: 600;

}
.text__about p{
    font-size: var(--text-paragraph);
    margin-top: 40px;
    color: var(--color-black-200);
}
.image__about{
    width: 100%;
    display: flex;

}
.image__about img{
    width: 300px;
}